[data-bs-theme="light"] .navbar{
    background-color: #61c6da;
}

[data-bs-theme="dark"] .navbar{
    background-color: #087990;
}

[data-bs-theme="light"] section{
    background-color: #61c6da;
}

.dropdown-item{
    text-align: right;
    width: auto;
}

.dropdown-menu{
    width:auto
}

.btn-primary{
     outline: 0;
    border: none;
}

.btn-primary:hover{
    background-color: #087990;
   
}

.btn-secondary{
    outline: 0;
    border:1px solid #087990;
    color:#087990;
    background-color: #fff;
}

.my-img{
    width: 50%;
    height: 50%;
    border-radius: 100px
}

@media (min-width:720px) and (max-width:1140px){
    .my-img{
        width:30%;
        height: 30%;
    }
}

@media (min-width:1140px){
    .my-img{
        width:20%;
        height: 20%;
    }
}

.wave {
    line-height: 0;
    display: block;
    height: auto;
}

[data-bs-theme="dark"]  .wave{
    display: none;
}

[data-bs-theme="light"]  .wave{
    color: #61c6da;
}

.card{
    border: none;
    background-color: #e6f4f7;
}

[data-bs-theme="dark"] .card-title, .card-text{
    color: black;
}


[data-bs-theme="light"]  footer{
    background: radial-gradient( #f2f6f7, #b1e7e7);;
}

.icon{
    width: 30px;
    height: 30px;
}

footer{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.lcide-icon{
    color: rgb(47, 126, 216);
    padding-left: 10px;
}